* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#6c6b6b
}
header{
  width:100%;
  height:50px;
  background-color:#FF9A4B
}
main{
  width:100%;
  margin:50px auto;
}
main{
  display:flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  main{
    display: block;
  }
}
.main-box{
  background-color: #EEEEEE;
  padding: 10px;
  position: relative;
}

.main-box{
  width: 300px;
  display:inline-block;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .main-box{
    width: 90%;
    display:block;
    margin: 0 auto 20px;
  }
}
.main-box:last-child{
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .main-box:last-child{
    margin: 0 auto;
  }
}
.main-image1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}
.main-image2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}
.main-image3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}
.main-step-num{
  position: absolute;
  top:0;
  left:0;
  background-color: #FF9A4B;
  color:#FFF;
}
.main-text{
  padding-top: 15px;
}
h3{
  margin-bottom: 5px;
}
p{
  
}
footer{
  height: 50px;
  background-color: #AAAAAa;
}